#contact {
  overflow: hidden;
  width: 100vw;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
}
.contact h1 {
  margin: 10px;
}
.contactText {
  margin: 25px;
  padding: 20px 0px 20px 0px;
  height: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: max(50vw, 35vh);
  padding: 20px;

  border-radius: 10px;
  /* border: 2px solid black; */
}
#formWhite {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px 10px rgb(238, 238, 238);
}
#formBlack {
  background-color: rgb(50, 50, 50);
  box-shadow: 0px 2px 10px 2px rgb(136, 150, 125);
}
.nameWhite,
.emailWhite,
.msgWhite {
  font-size: medium;
  width: 100%;
  max-width: max(40vw, 35vh);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(184, 168, 168);
}
.contactWhite {
  color: rgb(211, 48, 184);
}
.contactBlack {
  color: rgba(220, 20, 60);
}
.nameBlack,
.emailBlack,
.msgBlack {
  font-size: medium;
  width: 100%;
  max-width: max(40vw, 35vh);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(0, 0, 0);
}
.submitWhite {
  cursor: pointer;
  height: 50px;
  width: 120px;
  font-size: 25px;
  font-weight: 650;
  padding: 5px 10px;
  border: none;
  border-radius: 1.25rem;
  margin: 12px;
  background: rgb(184, 168, 168);
}
.submitWhite:hover {
  background-color: rgb(14, 244, 129);
}
.submitBlack {
  color: white;
  cursor: pointer;
  height: 50px;
  width: 120px;
  font-size: 25px;
  font-weight: 650;
  padding: 5px 10px;
  border: none;
  border-radius: 1.25rem;
  margin: 12px;
  position: relative;
  z-index: 0;
}
.submitBlack:hover {
  background-color: rgb(14, 244, 129);
}
.submitBlack::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 1.25rem;
}
.submitBlack::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 1.25rem;
  opacity: 1;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.submitBlack:hover::before {
  opacity: 1;
}
.submitBlack:active::after {
  background: transparent;
}
.submitBlack:active {
  color: #000;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: max(1.2vw, 1vh);
  gap: 20px;
  margin: 20px;
  padding: 10px;
}
.details a:hover {
  color: rgb(14, 244, 129);
  cursor: pointer;
}
#gitLi {
  display: flex;
  flex-direction: row;
  padding: 0px 3px;
  margin: 10px;
}
.gitLiWhite {
  cursor: pointer;
  font-size: medium;
  font-weight: 650;
  padding: 4px 6px;
  border: none;
  border-radius: 80%;
  margin: 8px;
  background: rgb(184, 168, 168);
}
.gitLiBlack {
  color: white;
  cursor: pointer;
  font-size: medium;
  font-weight: 650;
  padding: 4px 6px;
  border: none;
  border-radius: 80%;
  margin: 8px;
  position: relative;
  z-index: 0;
}
.gitLiBlack::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 80%;
}
.gitLiBlack::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.gitLiBlack:hover::before {
  opacity: 1;
}
.gitLiBlack:active::after {
  background: transparent;
}
.gitLiBlack:active {
  color: #000;
}
/* #submitWhiteId{
margin: 6px 6px 6px 6px;
padding: 2.5px 5px;
border-radius: 90%;
object-fit: cover;
}
#submitBlackId{
margin: 6px 6px 6px 6px;
padding: 2.5px 5px;
border-radius: 90%;
object-fit: cover;
} */
