#intro {
  width: 100%;
  margin: 0 auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 12vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.Profile {
  margin: 10px;
  height: 30vw;
  width: 30vw;
  overflow: hidden;
  border-radius: 20px;
}
.bg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.introContent {
  height: 100%;
  width: 50vw;
  padding: 2rem;
  margin-left: min(5%, 3rem);
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.caption {
  font-size: clamp(20px, calc(0.1vw + 1px), 30px);
  font-family: cursive;
  font-weight: lighter;
  color: rgb(90, 89, 89);
}
.hiWhite {
  font-family: cursive;
}
.hiBlack {
  font-family: cursive;
}
#name {
  font-family: fantasy-ui;
}
.btnWrapper {
  margin-top: min(5%, 3rem);
  padding: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: min(4rem, 6%);
}
.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 50px;
  width: max(7rem, 10%);
  padding: auto;
  margin-top: 5px;
  border: 2px solid;
  background-color: transparent;
  font-family: fantasy-ui;
  font-size: 18px;
  font-weight: 650;
  border-radius: 1.25rem;
  cursor: pointer;
}
.hover {
  display: none;
}

#resumeWhite {
  border-color: black;
}
#resumeBlack {
  border-color: white;
  color: aliceblue;
}
.resume:hover .hover {
  display: block;
}
.resume:hover .bfhover {
  display: none;
}
.resume:hover {
  background-color: rgb(14, 244, 129);
  color: black;
}
#resumeBlack:hover {
  color: black;
  border-color: rgb(14, 244, 129);
}
#resumeWhite:hover {
  color: white;
  background-color: black;
}
.resume img {
  height: 18px;
  width: 18px;
}
#dev {
  font-size: 2rem;
}
.hiWhite {
  color: rgb(254, 128, 37);
}
.hiBlack {
  color: rgba(220, 20, 60);
}
@media (max-width: 742px) {
  #intro {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .Profile {
    margin: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;

    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bg {
    width: 50%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
  }
  .introContent {
    width: 100vw;
    padding: 2rem;

    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}
@media (max-width: 465) {
  .btnWrapper {
    margin-top: auto;
    flex-direction: column;
  }
}
