#project {
  overflow: hidden;
  width: 100vw;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.ProjectTextWhite {
  font-weight: 500;
  font-size: 1.25rem;
  max-width: 85%;
  padding: 0.1rem 0.05rem;
}
.ProjectTextBlack {
  font-weight: 500;
  font-size: 1.25rem;
  max-width: 85%;
  padding: 0.1rem 0.05rem;
}
.projectBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 90%;
  text-align: left;
}
.projectBarWhite {
  height: auto;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(184, 168, 168);
}
.projectBarBlack {
  height: auto;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}
.project1Imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: auto;
  width: 36rem;
  align-items: center;
  margin: 5px;
  /* margin: 20px 20px 20px 20px;
  border-radius: 10px;*/
}
.projectImg1 {
  object-fit: cover;
  height: 12rem;
  width: 18rem;
  align-items: center;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  padding: 3px;
}
.projectImg2 {
  object-fit: cover;
  height: 15rem;
  width: 18rem;
  align-items: center;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
}
.projectImg3 {
  object-fit: cover;
  height: 10rem;
  width: 18rem;
  align-items: center;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
}
.projectTextWhite {
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  height: auto;
}
.projectTextBlack {
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  height: auto;
}
#projectTextWhiteHead {
  color: rgb(211, 48, 184);
  font-size: max(2vw, 3vh);
}
#projectTextBlackHead {
  color: rgba(220, 20, 60);
  font-size: max(2vw, 3vh);
}
#projectTextWhiteSpan {
  color: black;
  font-size: 1.15rem;
  font-weight: 400;
}
#projectTextBlackSpan {
  color: white;
  font-size: 1.15rem;
  font-weight: 400;
}
.GDBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DemoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 42.25px;
  width: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 10px;
  border: 2px solid;
  background-color: transparent;
  font-family: fantasy-ui;
  font-size: 18px;
  font-weight: 650;
  border-radius: 1rem;
  cursor: pointer;
}
#DemoBlack {
  border-color: white;
  color: white;
}
#DemoWhite:hover {
  background-color: rgb(62, 207, 255);
}
#DemoBlack:hover {
  background-color: rgb(14, 244, 129);
  border-color: black;
  color: black;
}
@media (max-width: 804px) {
  .projectBarWhite {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .projectBarBlack {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .project1Imgs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .projectImg2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
