.navbarWhite {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: min(1.25rem, 5%) max(10%, 5%, 2%);
  border-bottom: 1px solid rgb(171, 118, 83);

  background: rgb(240, 243, 213);
  color: black;
  position: sticky;
  top: 0;
  z-index: 1100;
}
.navbarBlack {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: min(1.25rem, 5%) max(10%, 5%, 2%);
  color: #ddd;
  border-bottom: 2px solid rgb(31, 8, 48);

  background-color: black;
  color: rgba(220, 20, 60);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbarBlack h1 {
  color: rgb(14, 244, 129);
}
.Main {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.Sidebar {
  display: none;
  flex-direction: column;
  padding: 10px;
  gap: 40px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1100;
  list-style-type: none;
}
#SidebarwhiteMode {
  background-color: rgb(240, 243, 213);
}
#SidebarblackMode {
  background-color: black;
}
.CrosswhiteMode {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
  background-color: rgb(197, 199, 180);
  border-color: #ddd;
}
.CrossblackMode {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
  background-color: rgb(50, 50, 50);
  color: white;
}
.navbarWhiteli {
  cursor: pointer;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid transparent;
}
.navbarBlackli {
  cursor: pointer;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid transparent;
}
.SidebarWhiteli {
  cursor: pointer;
}
.SidebarBlackli {
  cursor: pointer;
}
#icon {
  width: 30px;
  cursor: pointer;
}
.NavBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.whiteMode {
  background: rgb(240, 243, 213);
  border: none;
  border-radius: 50%;
}
.blackMode {
  background-color: black;
  border: none;
  border-radius: 70%;
}
#menu {
  display: none;
}
.navbarWhiteli:hover {
  color: rgb(240, 82, 16);
  padding-bottom: 0.1rem;
  border-bottom: 2px solid rgb(240, 82, 16);
}
.navbarBlackli:hover {
  padding-bottom: 0.1rem;
  border-bottom: 2px solid rgb(255, 255, 255);
}
.activeWhiteli {
  color: rgb(240, 82, 16);
}
.activeBlackli {
  color: yellow;
}
@media (max-width: 534px) {
  .navbarWhite ul {
    display: none;
  }
  .navbarBlack ul {
    display: none;
  }
  #menu {
    display: block;
  }
  #SidebarwhiteMode {
    display: none;
  }
}
