#about {
  overflow: hidden;
  width: 100vw;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.aboutTextWhite {
  font-weight: 500;
  font-size: 1.25rem;
  max-width: 85%;
  padding: 0.1rem 0.05rem;
}
.aboutTextBlack {
  font-weight: 500;
  font-size: 1.25rem;
  max-width: 85%;
  padding: 0.1rem 0.05rem;
}
.educationBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}
.educationBarWhite {
  height: 200px;
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(184, 168, 168);
}
.educationBarBlack {
  height: 200px;
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}
.educationImg {
  object-fit: cover;
  height: 7rem;
  width: 9rem;
  margin-right: 2rem;
  border-radius: 100px;
}
.educationTextWhite {
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
}
.educationTextBlack {
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
}
#educationTextWhiteHead {
  color: rgb(211, 48, 184);
}
#educationTextBlackHead {
  color: rgba(220, 20, 60);
}
/* #educationTextWhiteSpan{
color: black;
font-size: 1.15rem;
font-weight: 400;

}
#educationTextBlackSpan{
color:white;
font-size: 1.15rem;
font-weight: 400;
animation-name: pulse-glow;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes pulse-glow {
    from {

text-shadow: 0 0 5px #fff, 0 0 10px#00b3ff;
}
to
{
text-shadow: 0 0 10px #fff, 0 0
20px #00b3ff, 0 0 30px #00b3ff;
}
}  */
