@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.appWhite {
  min-height: 100vh;
  width: 100vw;
  color: black;
  background: linear-gradient(to bottom, #f5f5f5, #ffffff);
}
.appBlack {
  min-height: 100vh;
  width: 100vw;
  color: white;
  background: black;
}
